<%= form_for @store, url: admin_retail_stores_path do |f| %>
  <%= field_set_tag do %>
    <legend style="align: 'center'"> New Store</legend>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>

  <% if @stores.present? %>
    <%= render partial: 'stores' %>
  <% else %>
    <div class="no-objects-found">No stores found!</div>
  <% end %>

<% end %>
