<table id="stores">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'store_locator', collection: @store_locators %>
  </tbody>
</table>
