<% content_for :page_title do %>
  <%= Spree.t(:'store_locator.new') %>
<% end %>

<%= form_for @store_locator, url: admin_store_locators_path do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div data-hook="admin_store_locator_new_form_buttons">
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>